/*Universal styles*/

@font-face {
    font-family: 'BerlinSansDemiBold';
    src: url('Fonts/Berlin\ Sans\ FB\ Demi\ Bold/Berlin Sans FB Demi Bold.ttf');
}

@font-face {
    font-family: 'Sacramento';
    src: url('Fonts/Sacramento-Regular/Sacramento-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/Pawprint-Background.jpg);
    background-repeat: repeat;
}

.flex-container {
    display: flex;
}


/*Logo*/

#logo {
    width: 80%;
    align-content: center;
    justify-content: center;
    background: url(images/grass-sky.jpg);
    background-size: 35%;
    margin: auto;
}

.logo {
    margin: 20px;
    width: 30%;
    height: 30%;
}

/*Navigation*/

ul {
    margin: auto;
    height: 30px;
    width: 80%;
    list-style-type: none;
    background-color: gray;
    opacity: 0.8;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

li {
    font-family: BerlinSansDemiBold;
    font-size: 1.5em;
}

/*Vision*/

#vision {
    margin: 20px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.vision-item {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

/*Photo's*/

.photo img {
    height: 200px;
    width: 200px;
    border: 3px solid white;
}

.photo h3 {
    text-align: center;
    width: 200px;
    margin-top: 20px;
}

.photo {
    padding: 20px;
    margin: 10px;
    color: gray;
    background-color: black;
    flex-direction: column;
}

#pics {
    width: 80%;
    margin: auto;
    background: rgba(128, 128, 128, 0.8);
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
}

/*Reviews*/

#reviews {
    width: 80%;
    margin: 20px auto;
    justify-content: space-around;
}

.review-item {
    background: rgba(255, 255, 0, 0.3);
    border: red solid 2px;
    border-radius: 10%;
    width: 300px;
    font-size: 1.7em;
    padding: 10px;
    font-family: Sacramento, serif;
    line-height: 0.9em;
    font-weight: 800;
    text-align: center;
    margin: 2px;
}

#review1 {
    align-self: center;
}

#review2 {
    align-self: flex-start;
}

#review3 {
    align-self: flex-end;
}
span {
    text-align: right;
    font-weight: 1000;
}

/*Employees*/

.employee {
    flex-flow: column wrap;
    margin: 20px auto;
    background: rgba(128, 128, 128, 0.8);
    padding-bottom: 5px;
}

.kate {
    width: 400px;
    height: 300px;
}

.employee-pic {
    width: 200px;
    height: 300px;
}

#employees {
    width: 80%;
    margin: auto;
    align-content: center;
    flex-flow: row wrap;
}

/*Locations*/

#locations {
    width: 80%;
    flex-flow: column wrap;
    background-color: black;
    color: gray;
    justify-content: flex-end;
    margin: auto;
    border-radius: 20%;
}

.loc-head {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact {
    text-align: center;
    align-self: center;
    border: white solid 1px;
    border-radius: 40%;
    padding: 20px;
    margin-bottom: 40px;
}

.location-container {
    width: 80%;
    flex-flow: row wrap-reverse;
    align-self: center;
    justify-content: space-around;
}

.location {
    width: 350px;
    height: 350px;
    flex-flow: column wrap;
}

.location p {
    padding: 20px;
}

.loc-pic {
    width: 300px;
    height: 200px;
}

/*Footer*/

#footer {
    width: 100%;
    background: rgba(128, 128, 128, 0.8);
    margin-top: 5px;
}

#footer p {
    padding: 5px;
    text-align: end;
}