/*Universal styles*/

@font-face {
    font-family: 'BerlinSansDemiBold';
    src: url('Fonts/Berlin\ Sans\ FB\ Demi\ Bold/Berlin Sans FB Demi Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/Pawprint-Background.jpg);
    background-repeat: repeat;
}

.flex-container {
    display: flex;
}


/*Logo*/

#logo {
    width: 80%;
    align-content: center;
    justify-content: center;
    background: url(images/grass-sky.jpg);
    background-size: 35%;
    margin: auto;
}

.logo {
    margin: 20px;
    width: 30%;
    height: 30%;
}

/*Navigation*/

ul {
    margin: auto;
    height: 30px;
    width: 80%;
    list-style-type: none;
    background-color: gray;
    opacity: 0.8;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

li {
    font-family: BerlinSansDemiBold;
    font-size: 1.5em;
}

/*Vision*/

#vision {
    margin: 20px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.vision-item {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

/*Photo's*/

.photo img {
    height: 200px;
    width: 200px;
    border: 3px solid white;
}

.photo h3 {
    text-align: center;
    width: 200px;
    margin-top: 20px;
}

.photo {
    padding: 20px;
    margin: 20px;
    background-color: gray;
    flex-direction: column;
}

#pics {
    width: 60%;
    margin: auto;
    background-color: black;
    flex-flow: row wrap;
    justify-content: space-around;
}